<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>請求書</title>
    <link href="/static/css/invoice.css" type="text/css" rel="stylesheet" />
    <link href="/static/css/font.css" type="text/css" rel="stylesheet" />
    <script src="/static/js/vc/invoice.js" type="text/javascript" rel="script" ></script>
    <script src="/static/js/jquery-3.6.0.min.js" ></script>
</head>
<body>
<!-- head  -->
<div class="head_div">
    <div id="title_font">
        <p id="title_p">請求書</p>
    </div>
</div>
<!-- main  -->
<div class="main_div">
    <!-- menu -->
    <div class="menu_div">
        <!-- left -->
        <div id="m_left_div">
            <ul>
                <li>
                    <label>薬品リスト</label>
                </li>
            </ul>
            <ul>
                <li>
                    <label>薬品01</label>
                </li>
            </ul>
        </div>
        <!-- center -->
        <div id="m_center_div">
            <div id="invoice_div">
                <ul>
                    <li class="invoice_li">
                        請求番号:

                    </li>
                </ul>


            </div>
        </div>
        <!-- right -->
        <div id="m_right_div">
            <ul>
                <li>合計金額:</li>
                <li>10000円</li>
            </ul>
        </div>
    </div>
</div>
<!-- bottom -->
<div class="bottom_div">


</div>







</body>
</html>